body {
    /*background-image: url("http://orig06.deviantart.net/d1e0/f/2015/123/6/7/snohetta_by_neiio-d8s2lgv.png");*/
}

.content {
    width: 32rem;
    height: 30rem;
    margin: 0 auto;
    padding-top: 10rem;
}

.content :first-child {
    margin-top: 0;
}

.element {
    margin-top: 1rem;
    height: 3rem;
}

h1 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    text-align: center;
}
