html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #013770;
}

.content {
    height: 100%;
    width: 100%;
}

.footer {
    position: fixed;
    width: 0;
    bottom: 0;
    height: 150px;
    border-right: 2000px solid #001F3F;
    border-top: 150px solid transparent;
}
