html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #013770;
}

.content {
    width: 250px;
    margin: 70px auto;
}

.footer {
    position: fixed;
    width: 0;
    bottom: 0;
    height: 150px;
    border-right: 2000px solid #001F3F;
    border-top: 150px solid transparent;
}

.cat-image {
    max-width: 200px;
    max-height: 200px;
    border: 8px solid white;
    margin-left: 25px;
}

p {
    font-size: 20pt;
    font-family: monospace;
    color: white;
    text-align: center;
}
